### Частина друга: Анализ файлов

**Завдання:**

1. Прочитайте файл [`2017_jun_final.csv`](https://drive.google.com/file/d/1JMYqXipZpz9Y5-vyxvLEO2Y1sRBxqu-U/view?usp=sharing) за допомогою методу `read_csv`.
2. Прочитайте отриману таблицю, використовуючи метод `head`.
3. Визначте розмір таблиці за допомогою методу `shape`.
4. Визначте типи всіх стовпців за допомогою `dataframe.dtypes`.
5. Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи `isnull` і `sum`).
6. Видаліть всі стовпці з пропусками, окрім стовпця "Язык.программирования".
7. Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився лише стовпець "Язык.программирования".
8. Видаліть всі рядки в початковій таблиці за допомогою методу `dropna`.
9. Визначте новий розмір таблиці за допомогою методу `shape`.
10. Створіть нову таблицю `python_data`, в якій будуть лише рядки зі спеціалістами, що вказали мову програмування Python.
11. Визначте розмір таблиці `python_data` за допомогою методу `shape`.
12. Використовуючи метод `groupby`, групуйте дані по стовпцю "Должность".
13. Створіть новий DataFrame, де для сгруппованих даних по стовпцю "Должность" виконайте агрегацію даних за допомогою методу `agg` і знайдіть мінімальне і максимальне значення в стовпці "Зарплата.в.месяц".
14. Створіть функцію `fill_avg_salary`, яка буде повертати середнє значення заробітної плати в місяць. Використовуйте її для методу `apply` і створіть новий стовпець "avg".
15. Створіть описову статистику за допомогою методу `describe` для нового стовпця.
16. Збережіть отриману таблицю в CSV файл.

In [24]:
import pandas as pd

# Завдання 1: Прочитати файл 2017_jun_final.csv за допомогою методу read_csv
df = pd.read_csv('2017_jun_final.csv')

In [27]:
# Завдання 2: Прочитати отриману таблицю, використовуючи метод head
print("Перші 5 рядків таблиці:")
print(df.head())

Перші 5 рядків таблиці:
   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

In [28]:
# Завдання 3: Визначити розмір таблиці за допомогою методу shape
print("\nРозмір таблиці:", df.shape)

Розмір таблиці: (8704, 25)

In [29]:
# Завдання 4: Визначити типи всіх стовпців за допомогою dataframe.dtypes
print("\nТипи всіх стовпців:")
print(df.dtypes)

Типи всіх стовпців:
N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [30]:
# Завдання 5: Порахуйте, яка частка пропусків міститься в кожній колонці
missing_values_ratio = df.isnull().sum() / len(df)
print("\nЧастка пропусків в кожній колонці:")
print(missing_values_ratio)

Частка пропусків в кожній колонці:
N                                   0.000000
Должность                           0.000000
Язык.программирования               0.442325
Специализация                       0.829389
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Университет                         0.041131
Еще.студент                         0.000000
Уровень.английского                 0.000000
Предметная.область                  0.025620
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

In [31]:
# Завдання 6: Видаліть всі стовпці з пропусками, окрім стовпця "Язык.программирования"
columns_with_nan = df.columns[df.isnull().any()]
columns_to_drop = columns_with_nan.difference(columns_to_keep)
df.drop(columns_to_drop, axis=1, inplace=True)

In [32]:
# Завдання 7: Знову порахуйте, яка частка пропусків міститься в кожній колонці
missing_values_ratio_after_drop = df.isnull().sum() / len(df)
print("\nЧастка пропусків в кожній колонці після видалення:")
print(missing_values_ratio_after_drop)

Частка пропусків в кожній колонці після видалення:
N                                   0.000000
Должность                           0.000000
Язык.программирования               0.442325
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Еще.студент                         0.000000
Уровень.английского                 0.000000
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
dtype: float64

In [33]:
# Завдання 8: Видаліть всі рядки в початковій таблиці за допомогою методу dropna
df.dropna(inplace=True)
print("\nТаблиця після видалення рядків з пропусками:")
print(df)

Таблиця після видалення рядків з пропусками:
         N                 Должность Язык.программирования Общий.опыт.работы  \
2        3         Software Engineer               C#/.NET                 4
3        4         Software Engineer            JavaScript                 5
4        5  Senior Software Engineer            JavaScript    10 и более лет
6        7  Junior Software Engineer               C#/.NET                 1
7        8  Senior Software Engineer                   C++                 6
...    ...                       ...                   ...               ...
8692  8693         Software Engineer                  Java                 5
8694  8695  Junior Software Engineer               C#/.NET                 1
8695  8696         Software Engineer                Python                 1
8701  8702  Junior Software Engineer            Ruby/Rails                 1
8703  8704  Senior Software Engineer                  Java                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                               1              2500
3                               4              2000
4                             0.5              4500
6                меньше 3 месяцев               600
7                               1              3300
...                           ...               ...
8692                            1              3500
8694                            1               550
8695                          0.5              1500
8701                          0.5               800
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  \
2                                  800         Киев  до 1000 человек
3                                  400       Одесса   до 200 человек
4                                  500       Другой    до 10 человек
6                                  100  Хмельницкий    до 50 человек
7                                  500         Киев    до 10 человек
...                                ...          ...              ...
8692                               650     Удаленно   до 200 человек
8694                               550      Харьков   до 200 человек
8695                              1000         Киев    до 10 человек
8701                               500        Львов    до 10 человек
8703                               800       Одесса  до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
6      Аутсорсинговая  мужской       23                Высшее        False
7         Продуктовая  мужской       28                Высшее        False
...               ...      ...      ...                   ...          ...
8692   Аутсорсинговая  женский       28                Высшее        False
8694   Аутсорсинговая  мужской       23                Высшее        False
8695          Стартап  мужской       29                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
6          ниже среднего  12/06/2017 13:04:26
7          выше среднего  12/06/2017 13:04:27
...                  ...                  ...
8692             средний  12/07/2017 13:26:49
8694       ниже среднего  12/07/2017 14:14:33
8695             средний  12/07/2017 14:39:21
8701       выше среднего  12/07/2017 17:32:26
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
6                 0.0     600
7                 1.0    3300
...               ...     ...
8692              1.0    3500
8694              1.0     550
8695              0.5    1500
8701              0.5     800
8703              2.0    5000

[4854 rows x 20 columns]

In [34]:
# Завдання 9: Визначте новий розмір таблиці за допомогою методу shape
new_shape = df.shape
print("\nНовий розмір таблиці:", new_shape)

Новий розмір таблиці: (4854, 20)

In [35]:
# Завдання 10: Створіть нову таблицю python_data, в якій будуть лише рядки зі спеціалістами, що вказали мову програмування Python
python_data = df[df['Язык.программирования'] == 'Python']

In [36]:
# Завдання 11: Визначте розмір таблиці python_data за допомогою методу shape
python_data_shape = python_data.shape
print("\nРозмір таблиці python_data:", python_data_shape)

Розмір таблиці python_data: (207, 20)

In [38]:
# Завдання 12: Використовуючи метод groupby, групуйте дані по стовпцю "Должность"
grouped_data = df.groupby('Должность')

# Для виводу першого рядка кожної групи можна використати метод first()
first_rows_of_groups = grouped_data.first()
print("\nПерші рядки кожної групи по стовпцю 'Должность':")
print(first_rows_of_groups)

Перші рядки кожної групи по стовпцю 'Должность':
                                  N Язык.программирования Общий.опыт.работы  \
Должность
Data Scientist / Data Analyst  1707                  Java               1.5
DevOps                         2912                Golang                 8
ERP / CRM                      6713                   PHP                 2
HTML coder                     2050            JavaScript                 1
Junior Software Engineer          7               C#/.NET                 1
Product Manager                4099                Delphi                 7
Senior Software Engineer          5            JavaScript    10 и более лет
Software Engineer                 3               C#/.NET                 4
System Architect                 12                 Scala    10 и более лет
Team lead                      5106                   PHP                 7
Technical Lead                   45                  Perl                 6

                              Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
Должность
Data Scientist / Data Analyst             меньше 3 месяцев              2700
DevOps                                    меньше 3 месяцев              7000
ERP / CRM                                                1              2000
HTML coder                                             0.5               400
Junior Software Engineer                  меньше 3 месяцев               600
Product Manager                                          7              3000
Senior Software Engineer                               0.5              4500
Software Engineer                                        1              2500
System Architect                                         1              5600
Team lead                                                4              4000
Technical Lead                                           4              3400

                               Изменение.зарплаты.за.12.месяцев        Город  \
Должность
Data Scientist / Data Analyst                               300        Львов
DevOps                                                     5500         Киев
ERP / CRM                                                  1000     Черкассы
HTML coder                                                  200        Львов
Junior Software Engineer                                    100  Хмельницкий
Product Manager                                             500         Киев
Senior Software Engineer                                    500       Другой
Software Engineer                                           800         Киев
System Architect                                           1500         Киев
Team lead                                                   500         Киев
Technical Lead                                              250         Киев

                                  Размер.компании     Тип.компании      Пол  \
Должность
Data Scientist / Data Analyst       до 50 человек          Стартап  мужской
DevOps                             до 200 человек   Аутсорсинговая  мужской
ERP / CRM                           до 10 человек           Другая  мужской
HTML coder                          до 50 человек   Аутсорсинговая  мужской
Junior Software Engineer            до 50 человек   Аутсорсинговая  мужской
Product Manager                     до 50 человек      Продуктовая  мужской
Senior Software Engineer            до 10 человек      Продуктовая  мужской
Software Engineer                 до 1000 человек   Аутсорсинговая  мужской
System Architect               свыше 1000 человек  Аутстаффинговая  мужской
Team lead                           до 10 человек      Продуктовая  мужской
Technical Lead                 свыше 1000 человек  Аутстаффинговая  мужской

                               Возраст           Образование  Еще.студент  \
Должность
Data Scientist / Data Analyst       35                Высшее        False
DevOps                              29  Незаконченное высшее        False
ERP / CRM                           29  Незаконченное высшее         True
HTML coder                          24                Высшее        False
Junior Software Engineer            23                Высшее        False
Product Manager                     35                Высшее        False
Senior Software Engineer            30    Техникум / Колледж        False
Software Engineer                   26                Высшее        False
System Architect                    30                Высшее        False
Team lead                           29                Высшее        False
Technical Lead                      36  Незаконченное высшее        False

                              Уровень.английского      Дата.заполнения  \
Должность
Data Scientist / Data Analyst       выше среднего  12/06/2017 22:47:41
DevOps                                    средний  13/06/2017 13:29:21
ERP / CRM                                 средний  25/06/2017 14:21:44
HTML coder                          ниже среднего  13/06/2017 09:31:53
Junior Software Engineer            ниже среднего  12/06/2017 13:04:26
Product Manager                     ниже среднего  14/06/2017 17:23:27
Senior Software Engineer                  средний  12/06/2017 13:03:47
Software Engineer                         средний  12/06/2017 13:02:47
System Architect                    выше среднего  12/06/2017 13:05:25
Team lead                           выше среднего  20/06/2017 11:03:25
Technical Lead                      выше среднего  12/06/2017 13:09:29

                                                                      User.Agent  \
Должность
Data Scientist / Data Analyst  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
DevOps                         Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
ERP / CRM                      Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...
HTML coder                     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
Junior Software Engineer       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
Product Manager                Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
Senior Software Engineer       Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
Software Engineer              Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
System Architect               Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
Team lead                      Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
Technical Lead                 Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

                                exp  current_job_exp  salary
Должность
Data Scientist / Data Analyst   1.5              0.0    2700
DevOps                          8.0              0.0    7000
ERP / CRM                       2.0              1.0    2000
HTML coder                      1.0              0.5     400
Junior Software Engineer        1.0              0.0     600
Product Manager                 7.0              7.0    3000
Senior Software Engineer       10.0              0.5    4500
Software Engineer               4.0              1.0    2500
System Architect               10.0              1.0    5600
Team lead                       7.0              4.0    4000
Technical Lead                  6.0              4.0    3400

In [46]:
# Завдання 13: Створіть новий DataFrame, де для сгруппованих даних по стовпцю "Должность" виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне і максимальне значення в стовпці "Зарплата.в.месяц"
aggregated_data = grouped_data['Зарплата.в.месяц'].agg(['min', 'max'])

In [48]:
# Завдання 14: Створіть функцію fill_avg_salary, яка буде повертати середнє значення заробітної плати в місяць. Використовуйте її для методу apply і створіть новий стовпець "avg"
def fill_avg_salary(group):
    return group.mean()

df['avg'] = grouped_data['Зарплата.в.месяц'].apply(fill_avg_salary)

In [51]:
# Завдання 15: Створіть описову статистику за допомогою методу describe для нового стовпця
avg_salary_stats = df['avg'].describe()
print("\nОписова статистика для нового стовпця 'avg':")
print(avg_salary_stats)

Описова статистика для нового стовпця 'avg':
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: avg, dtype: float64

In [44]:
# Завдання 16: Збережіть отриману таблицю в CSV файл
df.to_csv('aggregated_data.csv', index=False, encoding='utf-8')
print("\nТаблицю збережено в файлі 'aggregated_data.csv'")

Таблицю збережено в файлі 'aggregated_data.csv'